/*about.css*/
h1{
	text-align: center;
	font-size: 50px;
	color: red;

}
h4{
	text-align: center;
	font-size: 50px;
	color: black;

}
h3{
	text-align: center;
	font-size: 30px;
	color: blue;

}
.about{
	display: flex;
	background-color: black;
	color: white;
}
.about-img{
	width: 50%;
}
.about-text{
	width: 50%;
	padding: 30px;
	font-size: 35px;
}
.about img{
	height: 300px;
	padding: 50px;
	border-radius: 100px;
}
