h2{
	text-align: center;
	font-size: 50px;
	color: black;
}
.footer{
	display: flex;
	background: palevioletred;
	border-radius:20px;

}
.foot1{
	width: 30%;
	padding: 40px;
}
.foot2{
	width: 30%;
	padding: 40px;
}
.foot3{
	width: 40%;
	padding: 20px;05
}
.know-more-btn{
	width: 150px;
	height: 50px;
	background: white;
	border-radius: 50px;
	outline: none;
	border: none;
	color: black;
	font-size: 20px;
}