/*hero.css*/
*{
	margin: 0;
	padding: 0;
}
.hero{
	height: 900px;
	
	background: url('../images/unsplash.avif');
	background-size: cover;
	background-position: bottom;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.hero h3{
	color: white;
	font-size: 120px;
}
.hero h1{
	color: white;
	font-size: 110px;
}
.hero h4{
	color: yellow;
	font-size: 90px;
}